<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>




<p> We have <%= @projects.count %> projects </p>


<div class="projects_index">
  <% @projects.each do |project| %>
      <div class="project_component">
          <div class="project_edit_remove_btns">
            <%= link_to project.name, project_path(project)  %>
            <td><%= link_to 'Edit ', edit_project_path(project), method: 'get'%></td>
            <td><%= link_to 'Remove', project_path(project), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
          </div> 
        <% if !project.photo.nil? %>
          <%= cl_image_tag project.photo.key, height: 250, width: 250, crop: :fill %>
        <% end %>
      </div>
  <% end %>
</div>

<div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>





