<h1>Projects#myprojects</h1>
<p>Find me in app/views/projects/myprojects.html.erb</p>

<div class = "top_bar">
    <div class = "search_projects_button">
      <p><%= link_to "Search Projects", projects_path %></p>
    </div>
    <div class = "create_project_button">
      <p><%= link_to "Create Project", new_project_path %></p>
    </div>
    <div class = "homepage_button">
      <p><%= link_to "Home", home_path %></p>
    </div>
    <div class = "my_profile_button">
      <p><%= link_to "My Profile", profile_path %></p>
    </div>
    <div class = "my_projects_button">
      <p><%= link_to "My Projects", myprojects_path %></p>
    </div>
</div>