
<div class="home_page_title">
  <h1>Create a Project</h1>
</div>


<div class = "create_project_form" >
  <%= simple_form_for @project do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :hook_size %>
    <%= f.input :yarn_size, label: 'Yarn Weight (1 -> Superfine, 2 -> Fine, 3 -> Light, 4 -> Medium, 5 -> Bulky, 6 -> Super Bulky, 7 -> Jumbo)' %>
    <%= f.input :difficulty,  label: 'Difficulty 1 ->( Beginner, 2 -> Intermediate, 3 -> Advanced)' %>
    <%= f.input :photo, as: :file %>
    <div class="submit_button">
    <%= f.button :submit %>
    </div>
  <% end %>
</div>

