
<div class="home_page_title">
  <h1>Create a Project</h1>
</div>


<div class = "create_project_form" >
  <%= simple_form_for @project do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :hook_size %>
    <%= f.input :yarn_size %>
    <%= f.input :difficulty %>
    <%= f.input :photo, as: :file %>
    <div class="submit_button">
    <%= f.button :submit %>
    </div>
  <% end %>
</div>

