<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<p> This is an individual project page </p>


<div class = "top_bar">
    <div class = "search_projects_button">
      <p><%= link_to "Search Projects", projects_path %></p>
    </div>
    <div class = "create_project_button">
      <p><%= link_to "Create Project", new_project_path %></p>
    </div>
    <div class = "homepage_button">
      <p><%= link_to "Home", home_path %></p>
    </div>
    <div class = "my_profile_button">
      <p><%= link_to "My Profile", profile_path %></p>
    </div>
    <div class = "my_projects_button">
      <p><%= link_to "My Projects", myprojects_path %></p>
    </div>
</div>


<%= link_to "Home", projects_path %>
<h1><%= @project.name %></h1>
<h4><%= @project.instructions%></h4>
<% if !@project.photo.nil? %>
    <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>



