<link rel="stylesheet" type="text/css" href="localhost:3000/css_root/flaticon.css">
<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<p> This is an individual project page </p>

<div class="project-title">
  <h1><%= @project.name %></h1>
</div>

<div class="project-information">
  <div class="left-side-show">
    <div class="project-details">
      <div class = "project-difficulty-level">
        <div class= "meter-icon">
          <%= image_tag('meter.svg') %>
        </div>
        </p> Difficulty: </p>
        <%= @project.difficulty %>
      </div>
      <div class = "project-hook-size"> 
        <div class = "crochet-hook-icon"> 
          <%= image_tag('crochet-hook.svg') %>
        </div>
      </p> Hook Size: </p>
        <%= @project.hook_size %>
      </div>
      <div class = "project-yarn-size">
        <div class = "yarn-ball-icon">
          <%= image_tag('yarn-ball.svg') %>
        </div>
      </p> Yarn Size: </p>
        <%= @project.yarn_size %>
      </div>
    </div>
    <h3> Instructions </h3>
      <p><%= @project.instructions%></p>
  </div>

  <div class="right-side-show">
  
    <% if !@project.photo.nil? %>
      <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <i class="far fa-heart fa-7x"></i>
  </div>

</div>



